*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 20px;
    padding: 50px;
}

button{
    font-size: 20px;
    padding: 20px 30px;
    background-color:white;
    color: aqua;
    border-radius: 20px;
   transition:  background-color 1s ease-in;
}

button:hover{
    background-color: black;
}


.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}